version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"

  backend:
    image: satyaverma25/backend:latest
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      - MONGO_URL=mongodb://mongo:27017/meanapp
    depends_on:
      - mongo

  frontend:
    image: satyaverma25/frontend:latest
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend